.mi-cuenta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa todo el alto de la pantalla */
    background-color: #f0f0f0; /* Fondo suave */
  }
  
  .mi-cuenta-form {
    background-color: #e0e0e0; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .mi-cuenta-form h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-editar {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .btn-editar:hover {
    background-color: #218838;
  }
  